{% extends "login.html" %}
{% block content %}

<h1>Register</h1>
{% with messages=get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <h2 style="color:red">{{message}}
       {% endfor %}
    {% endif %}
{% endwith %}

    <form method="POST">
        <input name="name" type="text" placeholder="name"/>
        <label for="usertype">usertype</label>
        <select name="usertype" id="">
            <option value=""></option>
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
        </select>
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="text" placeholder="password"/>
        <input name="email" type="text" placeholder="email"/>
        <button name="submit" type="submit">Register</button>
    </form>
    You have an account <a href="/">Here</a>

 {% endblock %}